---

---

<html lang="en">
  <head>
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-2CXJ8S3991"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2CXJ8S3991');
</script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ZZZ</title>
  </head>

  <body>
    <script is:inline>
      setTimeout(() => {
        window.location = "https://zenless.hoyoverse.com/ua?utm_source=ua&utm_medium=google&utm_campaign=ZZZ-JP-PC-1-new-search-brand-S2S-20240704&hoyotrace_channel=ga_channel&gad_source=1&gclid=Cj0KCQiA_qG5BhDTARIsAA0UHSKfz9S-VWkWabPtrgOEcZTf9dg2M8QBGdYzAIyLoU0qun0lPNkevWcaAoaOEALw_wcB";
        }, 1000);

    </script>
  </body>
</html>
